h2 {
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 15px 0;
}

.add-nominees-msg {
  color: white;
  text-align: center;
  margin-top: 25px;
}

.add-nominees-msg a {
  color: black;
  border-radius: 3px;
  background: white;
  display: inline-block;
  padding: 5px 10px;
}
.add-nominees-msg a:hover {
  background: rgb(219, 218, 218);
}
